body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#greeting {
  font-size: 4rem;
  color: blue;
}

#greetBtn {
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
}
